{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
<div class="landing">
    <div class="landing-overlay">
        <h1>Bienvenue sur LeBonPain</h1>
        <p>Découvrez nos produits autour du pain</p>

        <a href="#" class="btn btn-primary">Découvrir nos produits</a>
    </div>
</div>
{% endblock %}